body { text-align: center;



    font-family: 'Roboto Slab', serif;

    background: #005AA7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFDE4, #005AA7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFDE4, #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.subheading {
  font-family: Times New Roman;
  font-size: 20px;

}
button {
  font-size: 50px;
}
.heading {
  color: navy;
  font-size: 50px;
}

p:hover {
  background-color: blue;
}

button:active {
  /*visibility: hidden;*/
}

img
{ transition: 2s linear ;
}

img:hover
{
transform: rotate(180deg);
}
