body {
  font-family: Iceland;
}

h1  {
  font-size: 50px;
  margin: 0px;
}

h2 {
  font-size: 40px;
  text-align: center;
  margin: 0;
}

h4 {
  font-size: 20px;
  margin: 20px;
}

p {
  font-size: 20px;
}

.intro {
  text-align: center;
  background: #EF3B36;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #ffcc99, #EF3B36);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #ffcc99, #EF3B36); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
}

.intro img {
  width: 400px;
  border-radius: 20px;
}

.intro .content {
  width: 50%;
  padding-bottom: 30px;
  padding-left: 25vw;
}

.charmander {
  height: 100vh;
  background: #ffcc99;
}

.charmander img {
  width: 150px;
  float: right;
  margin-top: 50px;
  margin-right: 10vw;
}

.charmander p {
  font-size: 30px;
  margin-left: 10vw;
  width: 60vw;
  margin-bottom: 0;
}

.charmander ul {
  margin-top: 5px;
  font-size: 25px;
  margin-left: 10vw;
}

hr {
  margin: 0;
}

.squirtle h2 {
  padding-top: 100px;
}

.squirtle {
  background-color: #e6ffff;
  margin: 0;
}

.squirtle img {
  width: 300px;
  float: right;
  margin-top: 50px;
  margin-right: 4vw;
}

.squirtle p {
  font-size: 30px;
  margin-left: 10vw;
  width: 60vw;
  margin-bottom: 0;
}

.squirtle ul {
  margin-top: 5px;
  font-size: 25px;
  margin-left: 10vw;
}

.bulbasaur {
  margin-top: 0;
  background: #EF3B36;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #e6ffff, #2de26c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #e6ffff, #2de26c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
